/* colours */
:root{
  --primary: #00a170;
  --secondary: #00a170;
  --title: #ffffff;
  --add: #464646;
}

html {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3;
}

/* layout styles */
nav{
  background: var(--primary);
  border-bottom: 10px solid var(--secondary);
}
nav a{
  text-transform: uppercase;
  color: var(--title);
}
nav a span{
  font-weight: bold;
}
nav .sidenav-trigger{
  margin: 0;
}

/* user styles */
.users{
  margin-top: 20px;
}
.card-panel.user{
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(90,90,90,0.1);
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
  grid-template-areas: "image details delete";
  position: relative;
}
.user img{
  grid-area: image;
  max-width: 60px;
}
.user-details{
  grid-area: details;
  margin-top: 12px;
}
.user-delete{
  grid-area: delete;
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 12px;
}
.user-delete span {
  font-weight: bold;
}
.user-title{
  font-weight: bold;
}
.user-info{
  font-size: 0.8em;
}

/* form-styles */
.add-btn{
  background: var(--add) !important;
}
input{
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.side-form button{
  background: var(--title);
  box-shadow: 1px 1px 3px rgba(90,90,90,0.2);
}
form .input-field{
  margin-top: 30px;
}
